body {
  min-width: 850px;
}

h1 {
  font-family: William, serif;
  font-size: 31px;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 45px;
  font-weight: normal;
}

h2 {
  font-family: Inter, sans-serif;
  font-size: 31px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 35px;
}

p {
  font-family: Inter, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

img {
  width: 210px;
  margin-bottom: 80px;
}
div {
  background-color: deepskyblue;
  width: 500px;
  height: 500px;
  margin: 0 auto 20px;
  text-align: center;
}
h3 {
  font-family: "Inter", sans-serif;
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 18px;
  font-weight: normal;
  text-align: center;
}
h1,
h2,
h3 {
  color: white;
}
